.form {
  width: 94%;
}

input {
  width: 40%;
}

.addBtn {
  width: 10%;
  padding: 12px;
  background-color: rgb(64, 152, 224);
  border: none;
  color: white;
}

.form input {
  padding: 10px;
}

.bookTitle {
  margin-right: 34px;
}
